altgraph==0.17
asgiref==3.4.1
click==7.1.2
Django==3.2.5
future==0.18.2
mysqlclient==2.0.3
pefile==2019.4.18
psycopg2==2.9.1
pyinstaller-hooks-contrib==2020.9
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.1.7.5
python-dotenv==0.14.0
pytz==2020.4
pywin32-ctypes==0.2.0
sqlparse==0.4.1
