{% extends 'basehtml.html' %}
{% block title %}Add Address{% endblock %}
{% block content %}
    <div class="container">
        <div class="row UpDown justify-content-center">
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-5">
                <div class="card shadow w-auto bg-light">
                    <div class="card-body bg-light">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.errors }}<br>

                            <label for="{{ form.state.1 }}">State:</label><br>
                            {{ form.state }}<br><br>
                            <label for="{{ form.city.2 }}">City:</label><br>
                            {{ form.city }}<br><br>
                            <label for="{{ form.zip_code.3 }}">Zip Code:</label><br>
                            {{ form.zip_code }}<br><br>
                            <label for="{{ form.plaque.4 }}">Plaque:</label><br>
                            {{ form.plaque }}<br><br>
                            <label for="{{ form.detail.5 }}">Detail:</label><br>
                            {{ form.detail }}<br><br>
                            <button type="submit" class="btn btn-success">save</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'customer:profile' %}" class="btn btn-primary">exit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}