{% extends 'basehtml.html' %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container UpDown">
        <div class="row">
            <div class="col col-md-8 col-sm-10 col-lg-12">
                <table class="table text-center shadow-sm table-bordered UpDown">
                    <thead class="thead-light">
                    <tr>
                        <th>{% trans 'date' %}</th>
                        <th>{% trans 'time' %}</th>
                        <th>{% trans 'total price' %} </th>
                        <th>{% trans 'ordered' %}</th>
                        <th>{% trans 'Detail' %}</th>
                    </tr>
                    </thead>
                    {% for order in order_list %}
                        <tr>
                            <td>{{ order.create_timestamp.date }}</td>
                            <td>{{ order.create_timestamp.time }}</td>
                            <td>{{ order.get_cart_total }}</td>
                            <td>{{ order.is_ordered }}</td>
                            <td><a href="{% url 'customer:customer_order_detail' order.pk %}"
                                   class="text-primary">{% trans 'detail' %}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}