{% extends 'basehtml.html' %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container UpDown" id="container">
        <div class="row">
            <div class="col col-md-8 col-sm-10 col-lg-12">
                <table class="table text-center shadow-sm table-bordered UpDown">
                    <thead class="thead-light">
                    <tr>
                        <th>{% trans 'final price' %} </th>
                        <th>{% trans 'quantity' %}</th>
                        <th>{% trans 'discount' %}</th>
                        <th>{% trans 'price of one item' %} </th>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'image' %}</th>
                    </tr>
                    </thead>
                        {% for order_item in order.items.all %}
                            <tr>
                                <td>{{ order_item.final_price }}</td>
                                <td>{{ order_item.quantity }}</td>
                                <td>{{ order_item.product.discount.amount }}
                                    {% if order_item.product.discount.unit == 'percent' %}
                                        % {% else %} {{ order_item.product.discount.unit }}{% endif %}</td>
                                <td>{{ order_item.product.price }}</td>
                                <td>{{ order_item.product.product_name }}</td>
                                <td class="w-25"><img src="{{ order_item.product.product_image.url }}" class="w-25">
                                </td>
                            </tr>
                        {% endfor %}
                        <div>
                            <h1>
                                <span class="text-success">{% trans 'Total price:' %}</span>
                                {{ order.get_cart_total }}
                            </h1>
                        </div>
                </table>
            </div>
        </div>
    </div>

{% endblock %}