{% extends 'basehtml.html' %}
{% load static %}
{% block title %} {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row UpDown">
            <div class="col-9 col-sm-9 col-md-9 col-lg-4 col-xl-4">
                <div class="card shadow w-100 bg-light">
                    <div>
                        <img class="card-img-top w-50 rounded-circle h-100 m-auto"
                             src="{{ user.customer.customer_image.url }}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p><b>UserName:</b> {{ user.username }}</p>
                        <p><b>Name:</b> {{ user.first_name }}</p>
                        <p><b>Family:</b> {{ user.last_name }}</p>
                        <p><b>Phone:</b> {{ user.customer.phone }}</p>
                        <p><b>Email:</b> {{ user.email }}</p>
                        {% if address.address_set.all %}
                            {% for address in address.address_set.all %}
                                <p><b>Address-{{ forloop.counter }}:</b>
                                    {{ address.state }} -
                                    {{ address.city }} -
                                    {{ address.plaque }} -
                                    {{ address.zip_code }}</p>
                            {% endfor %}
                        {% else %}
                            <p><b>Address: <span class="text-danger">no address entered yet !!!</span></b></p>
                        {% endif %}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'customer:address' %}" class="btn btn-primary w-25">Address+</a>
                        <a href="{% url 'customer:logout' %}" class="btn btn-primary ml-4 w-25">exit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}