{% extends 'basehtml.html' %}
{% load static %}
{% block title %} Profile {% endblock %}
{% block content %}

    <div class="container-fluid mt-5">
        {% if user.is_authenticated %}
            <p class="text-success font-weight-bold">Welcome, <span class="text-info text-capitalize">{{ user.username }}</span>. Thanks for logging in.</p>
        {% endif %}
        <div class="row">
            <div class="col-9 col-sm-9 col-md-9 col-lg-4 col-xl-4">
                <div class="card shadow w-100 bg-light">
                    <div>
                        <img class="card-img-top w-50 rounded-circle h-100 m-auto"
                             src="{{ user.customer.customer_image.url }}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <p><b class="text-primary font-weight-bold">UserName:</b> {{ user.username }}</p>
                        <p><b class="text-primary font-weight-bold">Name:</b> {{ user.first_name }}</p>
                        <p><b class="text-primary font-weight-bold">Family:</b> {{ user.last_name }}</p>
                        <p><b class="text-primary font-weight-bold">Phone:</b> {{ user.customer.phone }}</p>
                        <p><b class="text-primary font-weight-bold">Email:</b> {{ user.email }}</p>
                        {% if address.address_set.all %}
                            {% for address in address.address_set.all %}
                                <p><b class="text-primary font-weight-bold">Address-{{ forloop.counter }}:</b>
                                    {{ address.state }} -
                                    {{ address.city }} -
                                    {{ address.plaque }} -
                                    {{ address.zip_code }}</p>
                            {% endfor %}
                        {% else %}
                            <p><b>Address: <span class="text-danger">no address entered yet !!!</span></b></p>
                        {% endif %}
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'customer:address' %}" class="btn btn-primary w-25">Address+</a>
                        <a href="{% url 'customer:user_edit' user.id %}" class="btn btn-primary ml-4 w-25">Edit</a>
                        <a href="{% url 'customer:logout' %}" class="btn btn-primary ml-4 w-25">Exit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}