{% extends 'basehtml.html' %}
{% load static %}
{% block title %} Create an Account {% endblock %}

{% block content %}
    <div class="container">
        <div class="row UpDown justify-content-center">
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-5">
                <div class="card shadow w-auto bg-light">
                    <img class="card-img-top" src="{% static 'images/register.png' %}" alt="Card image cap">
                    <div class="card-body bg-light">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.errors }}<br>
                            {{ form.username.errors }}<br>
                            <label for="{{ form.username.1 }}">username:</label><br>
                            {{ form.username }}<br><br>
                            <label for="{{ form.first_name.2 }}">first name:</label><br>
                            {{ form.first_name }}<br><br>
                            <label for="{{ form.last_name.3 }}">Family:</label><br>
                            {{ form.last_name }}<br><br>
                            {{ form.email.errors }}
                            <label for="{{ form.email.4 }}">Email:</label><br>
                            {{ form.email }}<br><br>
                            {{ form.password1.errors }}
                            <label for="{{ form.password1.6 }}">password:</label><br>
                            {{ form.password1 }}<br><br>
                            {{ form.password2.errors }}
                            <label for="{{ form.password2.7 }}">confirm password:</label><br>
                            {{ form.password2 }}<br><br>
                            <label for="{{ form.customer_image.8 }}">Image (optional):</label><br>
                            {{ form.customer_image }}<br><br>
                            <button type="submit" class="btn btn-success">Register</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'home:landing_page' %}" class="btn btn-primary ml-5 w-75">exit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}