{% extends 'basehtml.html' %}
{% load static %}
{% load i18n %}

{% block title %} {% trans 'Edit' %} {{ user.username }} {% endblock %}

{% block content %}

    <div class="container">
        <div class="row UpDown justify-content-center">
            <div class="col-9 col-sm-9 col-md-9 col-lg-6 col-xl-5">
                <div class="card shadow w-auto bg-light">
                    <img class="card-img-top" src="{% static 'images/edit.webp' %}" alt="Card image cap">
                    <div class="card-body bg-light text-center">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.errors }}<br>
                            {{ form.username.errors }}<br>
                            <label for="{{ form.username.1 }}">{% trans 'username:' %}</label><br>
                            {{ form.username }}<br><br>
                            <label for="{{ form.first_name.2 }}">{% trans 'first name:' %}</label><br>
                            {{ form.first_name }}<br><br>
                            <label for="{{ form.last_name.3 }}">{% trans 'Family:' %}</label><br>
                            {{ form.last_name }}<br><br>
                            {{ form.email.errors }}
                            <label for="{{ form.email.4 }}">{% trans 'Email:' %}</label><br>
                            {{ form.email }}<br><br>
                            {{ form.phone.errors }}
                            <label for="{{ form.phone.5 }}">{% trans 'Phone:' %}</label><br>
                            {{ form.phone }}<br><br>
                            <label for="{{ form.customer_image.6 }}">{% trans 'Image (optional):' %}</label><br>
                            {{ form.customer_image }}<br><br>
                            <button type="submit" class="btn btn-success">{% trans 'Save Changes' %}</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'customer:profile' %}" class="btn btn-primary w-50">{% trans 'Exit' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}