@media screen and (min-width: 995px) {
    body {
        color: #1a1a1a;
        background-color: #5352d4;
        font-family: 'Poppins', sans-serif;
    }
    #page {
        margin-top:-27px;
        width: 1200px;
        display: inline-flex;
    }
    input{
        display: none;
    }
    #left {
        width: 260px;
        height: 800px;
        background-color: blue;
        padding-left: 20px;
        position: fixed;
        margin-left: 218px;
    }

    #right {
        position: relative;
        width: 800px;
        background-color: ghostwhite;
        height: 1000px;
        margin-left: 500px;
        padding: 60px 70px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(238, 238, 238);
    }

    .section {
        padding: 5%;
        padding-left: 0;
    }


    #about {
        color: red;
    }

    .left_up {
        padding-top: 20%;
        width: 100%;
        height: auto;
    }

    img {
        position: relative;
        width: 200px;
        border-radius: 50%;
        border-top-left-radius: 50% 50%;
        border-top-right-radius: 50% 50%;
        border-bottom-right-radius: 50% 50%;
        border-bottom-left-radius: 50% 50%;
    }

    .name {
        font-family: "Times New Roman";
        font-size: 20px;
        color: #FFF;
        letter-spacing: 1px;
    }

    .ul {
        list-style: None;
    }

    .social-icons {
        list-style: None;
    }

    li {
        margin-top: 2%;
        list-style: None;
    }

    i {
        color: ghostwhite;
    }

    ul {
        padding-inline-start: 0;
    }

    a {
        color: white;
        text-decoration: None;
        font-size: 18px;
        font-family: "Times New Roman";
    }

    .li {
        display: inline-flex;
        padding-right: 10%;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    nav li {
        padding-bottom: 6%;
    }

    .ul li {
        font-size: 15px;
    }
}