{% extends 'basehtml.html' %}
{% load i18n %}
{% block title %}{{ object.category_name }} {% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    <div class="container UpDown">
        <div class="row">
            {% for product in category.product_set.all %}

                <div class="col col-md-4 col-sm-6 d-flex">
                    <div class="card shadow mt-5 w-100 bg-light">
                        <img class="card-img-top" src="{{ product.product_image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ product.category.category_name }}</h6>
                            <p class="card-text">{{ product.brand.brand_name }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            {{ product.price.price }}
                            <a href="{% url 'product:product_detail' product.pk %}"
                               class="btn btn-outline-primary ml-5 w-50">{% trans 'Detail & Buy' %}</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}