{% extends 'basehtml.html' %}
{% load static %}
{% block title %} product's {% endblock %}
{% block head %}

{% endblock %}
{% block content %}
    <div class="container product">
        <div class="row">
            {% for product in object_list %}

                <div class="col col-md-4 col-sm-6 position-relative">
                    <div class="card shadow">
                        <img class="card-img-top" src="{{ product.product_image.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ product.category.category_name }}</h6>
                            <p class="card-text">{{ product.brand.brand_name }}</p>
                        </div>
                        <div class="card-footer text-muted">
                            {{ product.price.price }}
                            <a href="{{ product.get_absolute_url }}" class="btn btn-primary ml-5 w-50">Detail & Buy</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}
