{% extends 'basehtml.html' %}
{% block title %}{{ object.product_name }} {% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    <div class="container UpDown">
        <div class="row">
            <div class="col col-md-4 col-sm-6 d-flex">
                <div class="card shadow w-100 bg-light">
                    <img class="card-img-top" src="{{ product.product_image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ product.category.category_name }}</h6>
                        <p class="card-text">{{ product.brand.brand_name }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="text-primary"><b>Price:</b> {{ product.price }}
                            {% if product.discount.amount > 0 %}
                                <b class="text-danger">
                                    {{ product.discount.amount }}{% if product.discount.unit == 'percent' %}
                                        %{% else %}
                                        {{ product.discount.unit }}{% endif %}
                                </b>
                                </p>
                                <p class="text-success">
                                    <b>Final Price:</b>
                                    {{ product.final_price }}
                                </p>
                            {% endif %}
                        <br>
                        <a href="{% url 'order:add-to-cart' product.pk %}" class="btn btn-outline-primary ml-5 w-75">
                            add to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}