{% extends 'basehtml.html' %}
{% block title %}{{ object.product_name }} {% endblock %}

{% block head %}
{% endblock %}

{% block content %}

    <div class="container product">
        <div class="row">
            <div class="col col-md-4 col-sm-6 position-relative">
                <div class="card shadow">
                    <img class="card-img-top" src="{{ product.product_image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.product_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ i.category.category_name }}</h6>
                        <p class="card-text">{{ product.brand.brand_name }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        {{ product.price.price }}
                        <a href="#" class="btn btn-primary ml-5 w-50">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}