{% extends 'basehtml.html' %}
{% load i18n %}

{% block head %}
    <style>
    iframe{
        position: relative;
    }
    </style>
{% endblock %}
{% block content %}
    <div class="my-5 py-5 text-center">
        <h1>{% trans 'client online shop' %}</h1>
        <h2>{% trans 'Management: Mohammad Ayazadeh' %}</h2>
        <h3>{% trans 'address:' %}</h3>
        <p class="pt-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52082.315247623264!2d51.71153000116138!3d35.32722800565169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f9197a2c108155f%3A0x402847e953c22100!2sVaramin%2C%20Tehran%20Province%2C%20Iran!5e0!3m2!1sen!2s!4v1641569156915!5m2!1sen!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </p>

    </div>
{% endblock %}