<div class="row">
    <div class="col col-md-8 col-sm-10 col-lg-12">
        <table class="table text-center shadow-sm table-bordered UpDown">
            <thead class="thead-dark">
            <tr>
                <th>delete</th>
                <th>ordered</th>
                <th>final price</th>
                <th>quantity</th>
                <th>discount</th>
                <th>price of one item</th>
                <th>name</th>
                <th>image</th>
            </tr>
            </thead>
            {% if order %}
                {% for order_item in order.items.all %}
                    <tr>
                        <td>
                            <button id="delete" value="{{ order_item.product.pk }}" onclick="delete_item()"
                                    class="fa fa-trash-o text-danger"
                                    style="font-size: 2rem">
                            </button>
                        </td>
                        <td>{{ order_item.is_ordered }}</td>
                        <td>{{ order_item.final_price }}</td>
                        <td>{{ order_item.quantity }}</td>
                        <td>{{ order_item.product.discount.amount }}
                            {% if order_item.product.discount.unit == 'percent' %}
                                % {% else %} {{ order_item.product.discount.unit }}{% endif %}</td>
                        <td>{{ order_item.product.price }}</td>
                        <td>{{ order_item.product.product_name }}</td>
                        <td class="w-25"><img src="{{ order_item.product.product_image.url }}" class="w-25">
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
        <div>
            <h1>
                <span class="text-success">Total price:</span>
                {{ order.totol_price }}
            </h1>
        </div>
        <button id="buy" onclick="buy()" value="{{ order.pk }}" class="btn btn-success float-right w-25">Buy</button>
    </div>
</div>