{% extends 'basehtml.html' %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="container UpDown" id="container">
        <div class="row">
            <div class="col col-md-8 col-sm-10 col-lg-12">
                <table class="table text-center shadow-sm table-bordered UpDown">
                    <thead class="thead-dark">
                    <tr>
                        <th>{% trans 'delete' %}</th>
                        <th>{% trans 'ordered' %}</th>
                        <th>{% trans 'final price' %}</th>
                        <th>{% trans 'quantity' %}</th>
                        <th>{% trans 'discount' %}</th>
                        <th>{% trans 'price of one item' %}</th>
                        <th>{% trans 'name' %}</th>
                        <th>{% trans 'image' %}</th>
                    </tr>
                    </thead>
                    {% if order %}
                        {% for order_item in order.items.all %}
                            <tr>
                                <td>
                                    <button id="delete" value="{{ order_item.product.pk }}" onclick="delete_item()"
                                            class="fa fa-trash-o text-danger"
                                            style="font-size: 2rem">
                                    </button>
                                </td>
                                <td>{{ order_item.is_ordered }}</td>
                                <td>{{ order_item.final_price }}</td>
                                <td>{{ order_item.quantity }}</td>
                                <td>{{ order_item.product.discount.amount }}
                                    {% if order_item.product.discount.unit == 'percent' %}
                                        % {% else %} {{ order_item.product.discount.unit }}{% endif %}</td>
                                <td>{{ order_item.product.price }}</td>
                                <td>{{ order_item.product.product_name }}</td>
                                <td class="w-25"><img src="{{ order_item.product.product_image.url }}" class="w-25">
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
                <div>
                    <h1>
                        <span class="text-success">{% trans 'Total price:' %}</span>
                        {{ order.total_price }}
                    </h1>
                </div>
                <button id="buy" onclick="buy()" value="{{ order.pk }}"
                        class="btn btn-success float-right w-25">{% trans 'Buy' %}
                </button>
            </div>
        </div>
    </div>
    <script>
        function delete_item() {

            var id = $('#delete').attr('value');
            console.log(id);

            $.ajax({
                url: "http://127.0.0.1:8000/order/remove-from-cart/" + id,
                type: "GET",
                success: function (respone) {
                    console.log(respone)
                    $('#container').html(respone.html)
                }
            });

        }
    </script>
    <script>
        function buy() {
            var id = $('#buy').attr('value');
            console.log(id);

            $.ajax({
                url: "http://127.0.0.1:8000/order/buy/" + id,
                type: "GET",
                success: function (respone) {
                    console.log(respone)
                    $('#container').html(respone.html)
                }
            });
        }
    </script>
{% endblock %}